@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 1.5vw;
    @media screen and (max-width: 700px) {
        font-size: 1.5vw;
    }
} // basic reset

// html {
//     height: 350vh;
// }

body {
    background-color: #130F10;
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #eeeeee;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    color: #eeeeee;
}

h2 {
    font-size: 2rem;
}

.flex-page {
    position: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    left: 50%;
    margin-left: -40vw;
    justify-content: flex-start;
    @media screen and (max-width: 700px) {
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
    }
}

header {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;

    // background-color: #333;
    height: auto;
    text-align: center;
    z-index: 1;
}

header h1.marquee  {
    display: block;
    margin-top: 4em;
    font-size: 1.5em;
    animation-name: title-shrink;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-weight: 800;
    width: 100%;

}

.portrait {
    display: block;
    height: 100vh;
    background: url('./images/kevin_1200w.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    animation-name: fade-image;
    animation-duration: 8s;
    opacity: 0.5;
    z-index: 0;
    img {
        height: 100vh;
        width: auto;
    }
}
  
nav {
    display: block;
    position: fixed;
    right: 5vw;
    width: 100vw;
    line-height: 3rem;
    background-color: black;
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li, nav ul li a {
    cursor: pointer;
    transition: color 500ms;
    font-size: 1.5rem;
}

// idea for later with color highlight
// $homeColor: #88aabb;
$caleColor: #e9d13b;
// $projColor: #66aa66;
// $subsColor: #6666aa;
// $applColor: #aa6666;
$kbBlue: rgb(0,135,225);

nav ul li.highlight {
    // fill in idea for later with color highlight
    color: #ffffff;
}

// .main-container {
//     display: block;
// }

.flex-content {
    // should be set by scrollify or no?
    padding-bottom: 100vh;
    // padding-top: 400vh;
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 700px) {
        width: 100vw;
        margin: auto;
    }
    
}

::-webkit-scrollbar {
    width: 0px;
}

.scrollable-content {
    display: block;
    position: absolute;
    height: 100vh;
    top: 15rem;
    width: 80vw;
    left: 50%;
    margin-left: -40vw;
    overflow-y: scroll;
    @media screen and (max-width: 700px) {
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
    }
}

.content-section {
    height: 90vh;
}

.media-links {
    width: 80vw;
    margin: auto;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li, li a {
            text-align: center;
            font-size: 3rem;  
        }
    }
}

.qr-code {
    width:  80vw;
    margin: auto;
    text-align: center;
    img {
        width: 50vw;
        height: 50vw;
    }
}


.two-col {
    width: 100%; //based on width of flex-content
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img, iframe {
        max-width: 30vw;
        margin: auto;
    }
    p {
        max-width: 30vw;
        margin: auto;
    }
    
    @media screen and (max-width: 700px) {
        
        display: block;
        width: 95%;
        margin: auto;
        
        img, iframe {
            max-width: 90vw;
            margin: auto;
        }
        p {
            max-width: 90vw;
            padding: 3vw 3vw 3vw 3vw;
            margin: auto;
        }
    }
}

.p2 {
    display: block;
    opacity: 0;
    transition: opacity 1s;
}

.page-1 {
    background-color: black;
}

.page-2 {
    background-color: $caleColor;
    height: 100vw-
    // more to do here, but for now get other stuff figured out
}
.page-3 {
    background-color: #448844;
}
.page-4 {
    background-color: $kbBlue;
}

#mc_embed_signup {
    padding-top: 1em;
    padding-bottom: 1em;
    label {
        font-size: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    input {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border: none;
    }
    .button {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        background: transparent;
        color: white;
        border-radius: 0.2em;
        border: 2px solid white;
    }
}
  
  .mc-field-group {
        line-height: 2.3rem;
        font-size: 2rem;
}



.calendar {
    opacity: 0.8;
}

@keyframes title-shrink {
    0% { 
        font-size: 4em;
    }
    75% { 
        font-size: 4em;
    }
    100% { 
        font-size: 3em;
    }
}

// @keyframes cursor-blink {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 1;
//     }
// }

@keyframes fade-image {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}